 
:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    }


.home{
    display:flex;
    margin: 25px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
}
 
 .home .section-text h1{
    font-weight: bold;
    font-size: 4rem ;
}


.home .section-text{
    width:45%;
}

.home .section-text h1{
    font-size: 4.7rem;
    font-weight: 700;
}

.home .section-text p{
    color:var(--Medium-Gray)
}

.home .section-text .button-learn{
    background-color: var(--Almost-Black);
    color:var(--Almost-White);
    outline:none;
    padding: 8px 12px;
    border-radius:  10px;
    border:none;
}

.home .section-text .banner-client{
    margin-top: 70px;
}

.home .section-text .banner-client img{
    margin:8px;
}

 .home .section-image{
    position: relative;
    width: 55%;
    height:80vh;
}

 .home .section-image img{
    width:60%;
    top:0px;
    position: absolute;
    right:0;
}


@media (max-width:459px) {
    .home{
        flex-wrap: none;
        margin:15px 0;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .home .section-text{
        width:100%;
        align-items: center;
    }

    .home .section-text h1{
        font-size: 2rem;
    }

   

    .home .section-text .button-learn{
        margin:auto;
    }

    .home .section-text .banner-client{
        margin-top: 40px;
    }

    .home .section-text .banner-client img{
        width:20%;
    }

    .home .section-image{
        width:100%;
        height:45vh;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('../../images/image-hero-mobile.png');
        /* margin:0 25px; */
    }

    .home .section-image img{
        display: none;
    }
}