* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root{
--Almost-White: hsl(0, 0%, 98%);
--Medium-Gray: hsl(0, 0%, 41%);
--Almost-Black: hsl(0, 0%, 8%);
}

.section-navbar{
    display:flex;
    width:100%;
    margin:0 25px;
    height:60px;
    align-items: center;
}

.section-navbar .desktop .dropdown{
    display: inline-block;
    margin:0 20px;
}


.section-navbar .dropdown > a{
    text-decoration: none;
    color:var(--Medium-Gray);
    background-image: url('../images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding:0 15px;
}

.section-navbar .dropdown > a:hover{
    color:var(--Almost-Black);
}

.section-navbar .dropdown-content{
    display: none;
    border-radius:10px;
    min-width: 160px;
}



.section-navbar.dropdown .dropdown-content div img{
    width:10%;
    margin:0 auto;
}

.section-navbar .dropdown .dropdown-content div a{
    margin-left:10px;
    color:var(--Medium-Gray);
    font-size: 14px;
    text-decoration: none;
}


.section-navbar .dropdown:hover .dropdown-content{
    display:flex;
    background-color: #fff;
    flex-direction: column;
    position: absolute;
    right:0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding:10px;
}

.section-navbar .dropdown:hover > a{
    background-image: url('../images/icon-arrow-up.svg');
    background-repeat: no-repeat;
    background-position: 100% 50%;
}


.section-navbar  .desktop .dropdown-company{
    display:inline-block;
    margin:0 20px;
    position: relative;
}

.section-navbar .dropdown-company a{
    text-decoration:none;
    color: var(--Medium-Gray);
}

.section-navbar .dropdown-company .dropdown-content-company{
    display:none;
}

.section-navbar .dropdown-company:hover  .dropdown-content-company{
    width:90px;
    display:flex;
    flex-direction: column;
    position: absolute;
    right:0;
    margin:0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding:10px;
}

.section-navbar .dropdown-company:hover  .dropdown-content-company a{
    color:var(--Medium-Gray);
    font-size:14px;
    text-decoration: none;
}

.section-navbar .careers{
    margin:0 20px;

}

.section-navbar .auth-login{
    position: absolute;
    right:100px;
    outline:none;
    background-color: #fff;
    color:var(--Medium-Gray);
    font-weight:500;
    border:none;
    margin:0 25px; 
}

.section-navbar .auth-register{
    position: absolute;
    right:0;
    margin:auto 25px;
    outline: 1px solid var(--Almost-Black);
    border:none;
    background-color: #fff;
    padding:8px 10px;
    border-radius: 10px; color:var(--Medium-Gray);
    font-weight:500;
    top:10px;

}

.section-navbar .bar{
    display:none;
}


@media (max-width:589px) {

    .section-navbar{
        justify-content: space-between;
        align-content: center;
        margin:0;
        display:flex;
        padding:0 20px;
    }

    .section-navbar .bar{
        display:initial;
    }

    .section-navbar .desktop{
        display:none;
    }
   .section-navbar .mobile{
       flex-direction: column;
       display: flex;
       position:absolute;
       top:50px;
       left:0;
       justify-content: space-around;
       margin:0 auto;
       align-items: center ;
       right:0;
       z-index:1;
       height: 80vh;
       background-color: rgb(34, 127, 214);
   }

   .section-navbar .mobile .dropdown{
       position: none;
   }

   .section-navbar .auth-login  .mobile{
    position:initial;

       margin:0;
   }

   .section-navbar .auth-register  .mobile{
       left:0;
       right:0;
       position: none;
       display: block;
       margin:0;
   }
}

